<h3>All the Good Boys and Girls you need </h3>
<br>

<% @dogs.each do |dog| %>
        <h3><%= dog.name %><h3>
            <h4>Breed: <%= dog.breed %>
            Age: <%= dog.age %>
            Bio: <%= dog.bio %></h4>
<% end %>
